.display-success{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.succes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
    background: #2D2B55;
    box-shadow: 0px 4px 10px rgba(21, 24, 22, 0.15);
    border-radius: 15px;
}
.succesful{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 70%;
    background-color: #E1E0F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.succesful h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #494845;
}
.succesful p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #494845;
}
